.register__url {
  height: 36px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__title {
  font-family: "Oswald";
  font-size: 41px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  margin: 0 auto 20px auto;
}

.register__container {
  width: 82.3%;
  height: 500px;
  border: 1px solid #c4c4c4;
  padding-top: 20px;

  margin: 0 auto 25px auto;

  display: flex;
  justify-content: center;
}

.register__info-container {
  width: 600px;
  height: 400px;
}

.register__form-title {
  font-family: "Oswald";
  font-size: 21px;
  font-weight: 400;
  margin: 25px 0 40px;
}

.register__lb {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  min-width: 75px;
  margin: 0;
  padding: 0;
  display: flex;
}

.register__lb span {
  padding-left: 7px;
  color: red;
}

.register__in {
  border: 1px solid #c4c4c4;
  width: 400px;
  height: 38px;
  padding-left: 10px;
  position: relative;
}
.register__in:hover {
  border: 1px solid #828282;
}
.register__in:focus {
  outline: none !important;
  border: 2px solid #c4c4c4;
}

.register__field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.register__btn-create {
  width: 270px;
  height: 50px;
  border: none;
  background-color: black;

  color: white;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;

  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

#password,#confirm-password {
  border: none;
}

.register__btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.register__btn-create:hover {
  background-color: #eb5757;
  cursor: pointer;
}

.signup__formContainer-fa-eye {
  padding-right: 2px;
}
.signup__formContainer-fa-eye:hover {
  cursor: pointer;
}

.register__vision-container {
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  width: 400px;
  min-width: 230px;
}
.register__vision-container:hover {
  border: 1px solid #848484;
}

.register__vision-container:has(> input:focus) {
  outline: 2px solid #c4c4c4;
}
.register__vision-container:has(> input:focus):hover {
  border: 1px solid #c4c4c4;
}
.register__vision-container-red {
  border: 1px solid red;
}

.register__vision-container-red:hover {
  border: 1px solid  red;
}

.register__vision-container-red:has(> input:focus) {
  outline: 1px solid red;
}
.register__vision-container-red:has(> input:focus):hover {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .register__container {
    width: 91.5%;
    padding: 0;
  }
  .register__info-container{
    width: 100%;
    padding:  10px 8%;
  }
  .register__vision-container {
    display: flex;
    align-items: center;
    border: 1px solid #c4c4c4;
  }
  .register__lb {
    min-width: 128px;
  }
  .register__vision-container {
    width: 400px;
    min-width: 130px;
  }
 
}
 @media screen and (max-width: 480px) {
  
  .register__in {
    width: 250px;
  }
  .register__lb {
    min-width: 86.6px;
  }
  #password,#confirm-password {
    width: 226px;
  }
  .register__lb span {
    padding-left: 5px;
  }
 }
 @media screen and (max-width: 320px) {
  .register__in {
    width: 160px;
  }
  #password,#confirm-password {
    width: 134px;
  }
 }