.homeContainer {
  height: 626px;
  margin-left: 50px;
  margin-bottom: 32px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__container {
  height: 554px;
  width: 1141px;
  display: flex;
  justify-content: space-between;
}

.carousel__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel__sign-text-container {
  width: 394px;
  height: 225px;
  padding: 22px 32px 0 0;
  border: 2px solid transparent;
  margin-bottom: 37px;
  position: relative;
}
.carousel__sign-text {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 66px;
  line-height: 75px;
  margin: 0;
}

.highlight {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px black;
}
.carousel__sign-text-container::before {
  content: "";
  position: absolute;
  width: 388px;
  height: 78px;
  right: 0;
  top: 0;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.carousel__sign-btn {
  width: 137px;
  height: 43.8px;
  background-color: transparent;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.carousel__images {
  width: 652px;
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel__images-smallImage {
  width: 325px;
  height: 487.5px;
  background-size: cover;
  box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
}

.carousel__images-bigImage {
  width: 450px;
  height: 100%;
  background-size: cover;
  box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 6px 8px 22px -1px rgba(0, 0, 0, 0.34);
}

.banner__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  width: 98%;
  margin: 0 auto;
  border: 2px solid #c4c4c4;
  position: relative;
}

.banner__text {
  position: absolute;
  top: -25px;
  background-color: white;
  padding: 0 115px;
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 45px;
}
.banner__icon {
  width: 184px;
  height: 110px;
  border: black 1px solid
}
