.btn__grey {
  padding: 7px 36px;
  line-height: 21px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  border: 2px #c9c9c9 solid;
  color: #6c6c6c;
  font-size: 12px;
  transition: all 0.3s ease;
  background: linear-gradient(to left, #ffffff 50%, #c9c9c9 50%) right;
  background-size: 200% 105% ;
  transition: 0.5s ease-out;
}

.btn__grey:hover {
  cursor: pointer;
  background-position: left;
}
