.ItemDetailContainer {
  width: 971px;
  height: 645px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.detailsContainerOne {
  width: 488px;
  height: 618px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsContainerOne__share {
  width: 97px;
  height: 14px;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.detailsContainerOne__share > li {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.detailsContainerOne__share > li:first-child {
  padding: 0;
}
.detailsContainerOne__image {
  height: 100%;
  margin-bottom: 11px;
}

#share__text {
  font-family: "Oswald";
  font-size: 10px;
  font-weight: 500;
  margin: 0;
}
.detailsContainerTwo {
  width: 450px;
}

.detailsContainerTwo__url {
  margin: 0 0 10px 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 300%;
  color: #828282;
}

.detailsContainerTwo__brandPhoto {
  width: 73px;
  height: 45px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  filter: brightness(93%);
  margin-bottom: 10px;
}

.detailsContainerTwo__title {
  width: 386px;
  margin: 0 0 22px 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 117%;
}

.detailsContainerTwo__selectTitle {
  margin: 0;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 12px;
}

.selectColor__list {
  width: 95px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 17px 0;
}
.selectColor__list-color {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.-colorOne {
  background-color: #24426a;
}
.-colorTwo {
  background-color: #f3ece2;
}
.-colorThree {
  background-color: #666689;
}

.selectColor__list-btn {
  padding: 7px;
  border: none;

  cursor: pointer;
}

.-colorIsActive {
  border: 2px solid black;
}

.selectSize__list {
  margin: 0 0 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}
#selectSizeLast {
  margin-bottom: 28px;
}

.preCheckContainer {
  display: flex;
  margin-bottom: 28px;
}
.preCheckContainer__quantityContainer {
  flex: 1.4;
}
.preCheckContainer__priceContainer {
  flex: 4;
}

#quantitySelectorTotal {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  height: 33.61px;
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addOrSaveContainer {
  display: flex;
  margin-bottom: 9px;
}
.addOrSave-btn {
  height: 39px;
  width: 172.7px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addOrSave-text {
  font-family: "Oswald";
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#addOrSave-btnBlack {
  background-color: black;
  margin-right: 14.52px;
}
#addOrSave-btnBlack:hover {
  background-color: #eb5757;
  border: #eb5757;
}
#addOrSave-btnBlack:active {
  filter: brightness(95%);
  scale: 0.97;
}

#btnBlack-text {
  color: white;
}

#addOrSave-btnWhite {
  border: 2px solid #c4c4c4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addOrSave-btnWhite:hover {
  border: 2px solid #828282;
}
#addOrSave-btnWhite:active {
  filter: brightness(95%);
  scale: 0.97;
}

#btnWhite-text {
  color: #3f3f3f;
  padding-left: 5px;
}

.infoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.infoContainer__item {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.codeTitle {
  font-family: "Oswald";
  font-size: 10px;
  font-weight: 500;
  color: #828282;
  margin: 0 2px 0 0;
}

.codeText {
  font-family: "Oswald";
  font-size: 10px;
  font-weight: 400;
  color: #828282;
  margin: 0 2px 0 0;
}
#codeTitle-shipping {
  padding-left: 3px;
}
