.collection__container {
  display: flex;
  width: 98%;
  margin: 0 auto 19px auto;
}

.collection__filter-container {
  flex: 1;
  margin-left: 10px;
}

.promotion__promo-three {
  background-size: 100% auto;
}

.filter__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}
.filter__check{
  height: 30px;
}

label {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 486%;
}
        
input.filter__input{
 margin: 0 7px 0 0;
}

.square__btn-empty {
  background-color: transparent;
  padding: 3px;
  margin-right: 7px;
  border: 1px solid #ccc;
}
.square__btn-empty:hover {
  cursor: pointer;
  scale: 1.02;
}

.collection__filter-itemList-container {
  height: auto;
  max-width: 98%;
  flex: 4;
  justify-content: flex-end;
  border-left: 1px solid #ccc;
}
.collection__filter-itemList {
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  transition: all 1s ease;

}

/* @keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
} */
.collection__filter-itemList-btn {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

