.collection__container {
  display: flex;
  width: 98%;
  margin: 0 auto 19px auto;
}

.collection__filter-container {
  flex: 1;
  margin-left: 10px;
}

.filter__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.filter__form {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

#check,
#filter__newArrivals,
#filter__topWomen,
#filter__bestSeller, 
#filter__summer,
#filter__trending,
#filter__spring
{
  position: absolute;
  opacity: 0;
}
label {
  position: relative;
  padding-left: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 14px;
}

#check + span,
#filter__newArrivals + span,
#filter__topWomen + span,
#filter__bestSeller + span,
#filter__summer + span,
#filter__trending + span,
#filter__spring + span
{
  position: absolute;
  /*para que el span esté a la izquierda)*/
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  text-align: center;
  background-image: url(../../images/buttons/radio-regular.svg);
  background-size: 100% auto;
}

#check + span:hover,
#filter__newArrivals + span:hover,
#filter__topWomen + span:hover,
#filter__bestSeller + span:hover,
#filter__summer + span:hover,
#filter__trending + span:hover,
#filter__spring + span:hover
 {
  background-image: url(../../images/buttons/radio-hover.svg);
}
#check:checked + span,
#filter__newArrivals:checked + span,
#filter__topWomen:checked + span,
#filter__bestSeller:checked + span,
#filter__summer:checked + span, 
#filter__trending:checked + span,
#filter__spring:checked + span
{
  background-image: url(../../images/buttons/radio-selected.svg);
}

.square__btn-empty {
  background-color: transparent;
  padding: 3px;
  margin-right: 7px;
  border: 1px solid #ccc;
}
.square__btn-empty:hover {
  cursor: pointer;
  scale: 1.02;
}

.collection__filter-itemList-container {
  height: auto;
  max-width: 98%;
  flex: 4;
  justify-content: flex-end;
  border-left: 1px solid #ccc;
}
.collection__filter-itemList {
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  transition: height 1s ease;
}

.collection__filter-itemList-btn {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
