.single-container {
  width: 98%;
  margin: 0 auto 20px auto;
  position: relative;
  overflow: hidden;
}

.single-container__btn-container {
  position: absolute;
  top: 0;
  right: 0;
}

.btn__arrow {
  padding: 8px 11px;
  background-color: white;
  border: 2px solid #c4c4c4;
  cursor: pointer;

  transition: all 0.5s ease;
}

.btn__arrow-left {
  margin-right: 4px;
}

.btn__arrow-right {
  transform: rotate(180deg);
}

.btn__svg {
  display: flex;
}

.btn__arrow:hover {
  border: 2px solid #828282;
}

.btn__arrow path {
  transition: all 0.4s ease;
}

.btn__arrow:hover path {
  stroke: #3f3f3f;
  scale: 1.02;
}
.btn__arrow:active path {
  stroke: #3f3f3f;
  scale: 0.85;
}

.single-container__itemList {
  display: flex;
  height: 473px;
  width: fit-content;
  overflow: hidden;
  transition: all 0.5s ease;
}
.single-container__itemList div:first-child {
  margin-left: 0;
}
@media screen and (max-width: 480px) {
  .single-container {
    width: 91.5%;
    margin: 0 auto 20px auto;
    overflow: hidden;
  }
  .single-container__itemList {
    display: flex;
    height: 403px;
    width: fit-content;
    overflow: hidden;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 320px){
  .single-container__itemList {
    padding-left: 41px;
  }
}