@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/* Colors
#555EFB   Neon Blue
#3CD0FF   vivid Sky
#F4D06F   Orange Yellow
#FF8811   Dark Orange
#D999B9   Kobi

font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}
html {
  min-height: 100%;
  background: rgb(85, 94, 251);
  background: linear-gradient(
    180deg,
    rgba(85, 94, 251, 1) 0%,
    rgba(60, 208, 255, 1) 100%
  );
}

body {
  margin: 0; /* Remove body margins */
}
