.catalog__location {
  width: 98%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #828282;
  margin: 0 auto 15px auto;
}

.productsContainer {
  width: 98%;
  margin: 0 auto;
  display: flex;
}

.productsContainer__itemList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.productsContainer_productsAndBanners{
  flex: 4;
}

.bannerMargin {
 border-left: 1px solid #c4c4c4;
}

.showTripleRow {
  height: 1398px;
  overflow: hidden;
}