
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200;400;600&display=swap');
@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:200,400');

/* Colors
#555EFB   Neon Blue
#3CD0FF   vivid Sky
#F4D06F   Orange Yellow
#FF8811   Dark Orange
#D999B9   Kobi

font-family: "FiraGO", sans-serif;
font-family: "Fraunces", serif;
*/

*{ text-decoration: none;}
html {
  min-height: 100%;
  background: rgb(85,94,251);
background: linear-gradient(180deg, rgba(85,94,251,1) 0%, rgba(60,208,255,1) 100%);
}
