.shoppingCart__url {
  height: 36px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingCart__title {
  font-family: "Oswald";
  font-size: 41px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  margin: 0 auto 40px auto;
}

.cart__container {
  width: 1246px;
  margin: 0 auto;
  display: flex;
}
.cart__products {
  max-width: 883px;
}

.cart__list {
  width: 100%;

  list-style: none;
  padding: 0;
}

.cart__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20.6px;
}

.cart__list-item-categories {
  border-bottom: 1px #c4c4c4 solid;
  padding-bottom: 15.4px;
}

.cart__title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #828282;
  flex: 1;
  margin: 0;
}

.cart__title__product {
  flex: 1.1;
  margin-right: 30px;
  display: flex;
  height: 100%;
}
.cart__title__price {
  flex: 0.35;
  margin-right: 34.29px;
}
.cart__title__size {
  flex: 0.2;
  margin-right: 34.29px;
}
.cart__title__quantity {
  flex: 0.45;
  margin-right: 34.29px;
}
.cart__title__total {
  flex: 0.9;
  display: flex;
  align-items: center;
}

.cart__product-info {
  display: flex;
}

.cart__product-img {
  flex: 0.45;
  margin-right: 14px;
  height: 100%;
  width: auto;
}

.cart__product-title {
  margin: 0 0 7px 0;
  font-family: "Oswald";
  font-size: 15.4px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.cart__product-det {
  flex: 1;
}

.cart__list-product {
  height: auto;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px #c4c4c4 solid;
}

.cart__product-container {
  height: 88.5px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15.26px;

  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.cart__product-price {
  margin-right: 55px;
}

.cart__product-btn-del {
  height: 24px;
  width: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cart__product-btn-del:hover {
  filter: brightness(92%);
}
.cart__product-btn-del:active {
  scale: 0.89;
}

.cart__product-btn-del-heart {
  margin-right: 10px;
}

.cart__options-btn {
  height: 35px;
  width: 171px;
  border: 2px solid #c4c4c4;
  background-color: #f0f2f2;

  color: #828282;
  font-family: "Oswald";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-right: auto;
  transition: all 0.3s ease;
}
.cart__options-btn:hover {
  border: 2px solid #828282;
  cursor: pointer;
}
.cart__options-btn:active {
  scale: 0.96;
}

.options-btn-clear {
  width: 184.3px;
  margin-right: 0;
}

.cart__payment {
  width: 428.6px;
  height: auto;
}

.cart__payment-info {
  width: 100%;
  height: auto;

  background-color: #f0f2f2;
  border: 2px solid #c4c4c4;
  padding: 30.86px 26px;
}

.cart__discount {
  height: 75.43px;
  width: 100%;
  margin-bottom: 22.29px;
}
.cart__payment-title {
  font-family: "Oswald";
  font-size: 20.6px;
  font-weight: 400;
  margin: 0 0 18.5px 0;
}

.cart__discount-container {
  height: 37.7px;
  width: 100%;
  display: flex;
  border: 1px solid #c4c4c4;
}

.cart__discount-code {
  width: 70%;
  height: 100%;
  border: none;
}
.cart__discount-code::placeholder {
  padding-left: 13.7px;

  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #c4c4c4;
}

.cart__discount-btn {
  width: 30%;
  height: 100%;
  background-color: white;
  border: none;

  font-family: "Oswald";
  font-size: 12.3px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #3f3f3f;
  transition: all 0.3s ease;
}
.cart__discount-btn:hover {
  cursor: pointer;
  filter: brightness(92%);
}
.cart__discount-btn:active {
  scale: 0.96;
}
.cart__payment-shipping-btn {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background-image: url("../../images/buttons/plus.svg");
}
.cart__payment-shipping-btn:hover {
  cursor: pointer;
  background-image: url("../../images/buttons/plus-hover.svg");
}

.cart__payment-shipping-btn-minus {
  background-image: url("../../images/buttons/minus.svg");
}

.cart__payment-shipping-btn-minus:hover {
  cursor: pointer;
  background-image: url("../../images/buttons/minus-hover.svg");
}
.cart__shipping {
  width: 100%;
}
#shipping__title {
  margin: 0;
}
.cart__shipping-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__shipping-content-container {
  overflow: hidden;
  height: 354px;
  max-height: 354px;
  transition: all 0.5s ease-in-out;
  padding: 10px 0;
  opacity: 1;
}
.cart__shipping-content-container[aria-expanded="true"] {
  max-height: 0px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  padding: 0;
  opacity: 0;
}

.cart__shipping-destination {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;
  margin-bottom: 22px;
}

.cart__shipping-information-container {
  height: 37.71px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22.29px;
}

.shipping__information-title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.shipping__information-name {
  height: 100%;
  width: 230px;
  border: 1px solid #c4c4c4;
}

.cart__shipping-rate-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#flat-rate,#table-rate {
  margin: 0;
}

.cart__shipping-title2 {
font-family: "Oswald";
font-size: 16px;
font-weight: 500;
display:block;
margin-bottom: 13px;
}

.cart__shipping-rate-lb{
font-family: "Roboto";
font-size: 12px;
font-weight: 400;
padding-left: 10px;
margin: 0;
}