.shoppingCart__url {
  height: 36px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingCart__title {
  font-family: "Oswald";
  font-size: 41px;
  font-weight: 400;
  line-height: 142%;
  text-align: center;
  margin: 0 auto 45px auto;
}

.cart__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.cart__products {
  width: 90%;
  margin-right: 20px;
}

.cart__list {
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
}

.cart__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20.6px;
}

.cart__list-item-categories {
  border-bottom: 1px #c4c4c4 solid;
  padding-bottom: 15.4px;
}

.cart__title {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #828282;
  flex: 1;
  margin: 0;
}

.cart__product-info {
  display: flex;
}

.cart__list-product {
  height: auto;
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px #c4c4c4 solid;
}

.cart__options-btn {
  height: 35px;
  width: 171px;
  border: 2px solid #c4c4c4;
  background-color: #f0f2f2;

  color: #828282;
  font-family: "Oswald";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-right: auto;
  transition: all 0.3s ease;
}
.cart__options-btn:hover {
  border: 2px solid #828282;
  cursor: pointer;
}
.cart__options-btn:active {
  scale: 0.96;
}

.options-btn-clear {
  width: 184.3px;
  margin-right: 0;
}

.cart__payment {
  width: 30%;
  height: auto;
}

.cart__payment-info {
  width: 100%;
  height: auto;

  background-color: #f0f2f2;
  border: 2px solid #c4c4c4;
  padding: 25px 26px;
  margin-bottom: 20.57px;
}

.cart__discount {
  height: 75.43px;
  width: 100%;
  margin-bottom: 22.29px;
}
.cart__payment-title {
  font-family: "Oswald";
  font-size: 20.6px;
  font-weight: 400;
  margin: 0 0 18.5px 0;
}

.cart__discount-container {
  height: 37.7px;
  width: 100%;
  display: flex;
  border: 1px solid #c4c4c4;
}

.cart__discount-code {
  width: 70%;
  height: 100%;
  border: none;
}
.cart__discount-code::placeholder {
  padding-left: 13.7px;

  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #c4c4c4;
}

.cart__discount-btn {
  width: 35%;
  height: 100%;
  background-color: white;
  border: none;

  font-family: "Oswald";
  font-size: 0.8em;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #3f3f3f;
  transition: all 0.3s ease;
}
.cart__discount-btn:hover {
  cursor: pointer;
  filter: brightness(92%);
}
.cart__discount-btn:active {
  scale: 0.96;
}
.cart__payment-shipping-btn {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background-image: url("../../images/buttons/plus.svg");
}
.cart__payment-shipping-btn:hover {
  cursor: pointer;
  background-image: url("../../images/buttons/plus-hover.svg");
}

.cart__payment-shipping-btn-minus {
  background-image: url("../../images/buttons/minus.svg");
}

.cart__payment-shipping-btn-minus:hover {
  cursor: pointer;
  background-image: url("../../images/buttons/minus-hover.svg");
}
.cart__shipping {
  width: 100%;
  height: auto;
}
#shipping__title {
  margin: 0;
}
.cart__shipping-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__shipping-content-container {
  overflow: hidden;
  height: auto;
  transition: all 0.5s ease-in-out;
  padding: 10px 0 0 0;
  opacity: 1;
}
.cart__shipping-content-container[aria-expanded="true"] {
  max-height: 0px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  padding: 0;
  opacity: 0;
}

.cart__shipping-destination {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #828282;
  margin-bottom: 22px;
}

.cart__shipping-information-container {
  height: 37.71px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22.29px;
}

.shipping__information-title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.shipping__information-name {
  height: 100%;
  width: 230px;
  border: 1px solid #c4c4c4;
}

.cart__shipping-rate-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 30spx;
}
#flat-rate,
#table-rate {
  margin: 0;
}

.cart__shipping-title2 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 13px;
}

.cart__shipping-rate-lb {
  height: 100%;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 2px;
  margin: 0;

  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

#flat-rate,
#table-rate {
  position: absolute;
  opacity: 0;
}

#flat-rate + span,
#table-rate + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #c4c4c4;
  background-color: white;
}
#flat-rate + span:hover,
#table-rate + span:hover {
  filter: brightness(92%);
}

#flat-rate + span:before,
#table-rate + span:before {
  content: "\2713";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#flat-rate:checked + span:before,
#table-rate:checked + span:before {
  opacity: 1;
}

.cart__payment-checkout {
  background-color: #f0f2f2;
  border: 2px solid #c4c4c4;
  padding: 25px 26px;
}

.cart__shipping-subtotal {
  display: flex;
  margin-right: auto;
}

#subtotal-right {
  margin-left: auto;
}

.cart__subtotal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.cart__subtotal-title {
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 500;
}

.cart__subtotal-title-grey {
  color: #828282;
}

.cart__total-title {
  font-size: 21px;
  font-weight: 400;
}

.cart__total-btn {
  height: 47px;
  width: 100%;
  border: none;
  background-color: black;

  color: white;
  font-family: "Oswald";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.cart__total-btn:hover {
  background-color: #eb5757;
  cursor: pointer;
}

.cart__total-btn:active {
  scale: 0.96;
}

.cart__list-empty {
  padding: 50px 0;
}

.cart__product-title-empty {
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .cart__container {
    width: 96%;
  }


  .cart__payment {
    width: 35%;
  }

  .shipping__information-title {
    width: 93px;
  }
  .shipping__information-name {
    width: 160px;
  }
  .cart__discount-btn {
    width: 40%;
    font-size: 0.7em;
    color: #3f3f3f;
  }
  .cart__payment-info {
    padding: 25px 21px;
  }
}

@media screen and (max-width: 768px) {
  .cart__products {
    margin: 0 auto;
  }
  .cart__container {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart__payment {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .cart__list-options {
    margin-bottom: 45px;
  }
  .shipping__information-name {
    width: 230px;
  }
  .cart__payment-info {
    padding: 25px 26px;
  }
  .cart__payment-checkout {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 480px) {
  .cart__container {
    width: 91.5%;
  }
  .cart__list-item-categories {
    display:none;
  }
  .cart__products {
    width: 100%;
    margin:0;
  }
  .cart__options-btn {
    padding: 0;
    width: 45%
  }
  
  .cart__list-options{
    width: 100%;
  }
  .cart__list-product {
    padding-bottom: 0;
    border-bottom: none;
  }
  .cart__payment {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .shipping__information-title {
    width: 105px;
  }
}

@media screen and (max-width: 320px) {
  .cart__payment-info {
    padding: 20px 17px;
  }
  .cart__payment-checkout {
    padding: 20px 21px;
    margin-bottom: 35px;
  }
  .shipping__information-title {
    width: 73px;
    font-size: 13.8px;
  }
  .shipping__information-name {
    width: 182px;
  }
}