.collection__item {
  width: 272px;
  height: 429px;
  margin: 0 0 37px 23.5px;
  position: relative;
}
.animate {
  animation: appear 1.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.single-container__item {
  min-width: 274px;
  margin-right: 29px;
}

.collection__item:hover .collection__item-photo-container > div {
  opacity: 1;
}

.collection__item-photo-container {
  width: 100%;
  height: 352px;
  background-size: 100% auto;
  margin-bottom: 10px;
  position: relative;
}

.collection__item-photo-container-options {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.collection__item-photo-container-options-btn {
  width: 120px;
  height: 42px;
  background-color: black;
  color: #ffffff;

  font-family: "Oswald";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  border: 2px solid black;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.collection__item-photo-container-options-btn:hover {
  cursor: pointer;
  background-color: #eb5757;
  border: 2px solid #eb5757;
}

.collection__item-photo-container-options-btn:active {
  filter: brightness(92%);
}
.-options-btn-white {
  background-color: white;
  color: #828282;
  border: 2px solid #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.-options-btn-white:hover {
  color: #3f3f3f;
  border: 2px solid #828282;
  background-color: white;
}
.collection__item-addOrSave-icon {
  margin-right: 4px;
}
.collection__item-addOrSave-icon path {
  transition: all 0.3s ease-in-out;
}
.collection__item-addOrSave-icon-inCart{
  margin-right: 4px;
}
.collection__item-photo-container-options-btn:hover
  .collection__item-addOrSave-icon
  path {
  fill: #3f3f3f;
  stroke: #3f3f3f;
}

.collection__item-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #bdbdbd;
  margin: 0;
}

.collection__item-name {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 7px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collection__item-price {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5px;
  line-height: 26px;
  display: flex;
  margin: 0;
}
.collection__link-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .collection__item-wishlist {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .collection__item-wishlist {
    position: relative;
  }

  .collection__item {
    width: 210px;
    height: auto;
    padding-bottom: 20px;
    margin: 0;
  }
  .animate {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .collection__item-photo-container {
    height: 273px;
    margin-bottom: 4px;
  }
  .collection__item-title {
    font-size: 15px;
    line-height: 30px;
  }
  .collection__item-name {
    font-family: "Oswald";
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    margin: 0 0 4px 0;
    white-space: initial;
    display: flex;
    align-items: center;
  }
  .collection__item-price {
    font-size: 21px;
    margin-bottom: 15px;
  }
  .collection__item {
    margin: 0 0 0 23.5px;
  }
  .collection__item-photo-container-options-btn {
    width: 100%;
  }
  .collection__photo {
    width: 82%;
    height: 224px;
  }
  .collection__link-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .collection__btn {
    position: absolute;
    top: 0px;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    transition: all 0.1s ease-in;
    padding: 0;
  }
  .collection__btn:active {
    scale: 0.8;
  }

  .collection__btn-edit {
    width: 29px;
    top: 45px;
  }
}
