.loginContainer{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70vw;
}

.login__container-social {
  background-color: rgba(255, 255, 255, 0.35);
  width: 22vw;
  height: 30vh;
  margin: 18vh 0;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "FiraGO", sans-serif;
  box-shadow: 1px #555efb;
  justify-content: space-between;
}

.login__social-btn {
  border: none;
  border-radius: 5px;
  background-color: #555efb;
  padding: 1.1em 5rem;
  color: white;
  font-family: "FiraGO", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.login__social-btn:hover {
  background-color: #3842ff;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.35);
  width: 30vw;
  height: 56vh;
  margin: 8vh 0;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "FiraGO", sans-serif;
  box-shadow: 1px #555efb;
}

.login__container h3 {
  font-size: 3.5rem;
  margin: 0.3em 0 0.8em 0;
  color: white;
  font-family: "Fraunces", serif;
}

.login__container-input {
  width: 90%;
  height: 3em;
  border-radius: 5px;
  border: none;
  margin-bottom: 0.5em;
  font-size: 1em;
  padding-left: 8px;
}
.login__container-input:focus {
  outline: solid #555efb;
}

.login__container-input-1 {
  margin-bottom: 2em;
}

.login__form-options {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  color: white;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 1.8em;
}

.login__form-options p {
  margin: 0;
}
.login__form-checkbox {
  border: none;
}
.login__form-optionsCheck {
  display: flex;
}
#loginForm {
  text-align: center;
}

.login__form-btn {
  border: none;
  border-radius: 5px;
  background-color: #555efb;
  padding: 1.1em 7em;
  color: white;
  font-family: "FiraGO", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

.login__form-btn:hover {
  background-color: #3842ff;
}
