.active {
  color: #ff8811;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.header__Container {
  display: flex;
  align-items: center;
  background-color: #f4d06f;
  justify-content: space-between;
  padding: 0 15px;
  height: 90px;
  width: 100%;
  margin-bottom: 20px;
}

.nav-logo__img {
  height: 40px;
  transition: all 0.3s ease;
}

.nav__logo {
  flex: 1;
}
.nav-logo__img:hover {
  scale: 1.05;
}
.nav {
  flex: 1.2;
}

.nav__navList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
  width: auto;
}

.nav__listItem {
  padding: 0.5em 0;
  margin: 0 0.7em;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
}

.nav__listItem:hover {
  scale: 1.05;
  border-bottom: 1px solid black;
}
.nav__listItem:active {
  scale: 1;
}

.nav-link {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.nav-link:visited {
  color: black;
}

.nav__link-login {
  width: 100%;
  height: 21.6px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.nav__link-login:hover {
  cursor: pointer;
}
.nav__login-container {
  flex: 1;
}

.nav__login-list {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.nav__wishlist {
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;
  background-color: #f4d06f;
}
.nav__wishlist:hover {
  cursor: pointer;
}

#nav-heart {
  margin-right: 0;
  scale: 1.1;
}

#nav-heart:hover {
  margin-right: 0;
  scale: 1.2;
}
#nav-cart {
  margin:0;
  background-image: url('../../images/buttons/cart.svg');
  background-size:  auto 100%;
  background-repeat: no-repeat;
  width:18px;
  height: 22px;
}


.nav__cart-counter {
  width: 22px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
}

.nav__listItem-logout {
  margin-left: 50px;
}