/* .navcontainer{
    
} */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "FiraGO", sans-serif;
    font-size: 1.3rem;  
    margin-bottom: 0.8em;
}
.navList{
    list-style-type: none;
}

.navList li{
    padding: 0.5em 3em;
    margin: 0;
}

.navContainer__Link{
    padding: 0.5em 3.5em;
    color: black;
    background-color: #F4D06F;
    border-radius: 5px;
}


.navContainer__Link:hover{
    background-color: #f6c747;
}

.navContainer__Link:visited{
    color: black;
}