.shoppingCart__url {
  height: 36px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__banner {
  width: 98%;
  height: 409px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/banner/blog-banner.jpg);
  background-size: cover;

  margin-bottom: 30px;
}

.blog__banner-text {
  min-width: 72%;
  height: 85.7px;
  margin: 0;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  font-size: 2.56em;
  font-weight: 400;
}

.banner__content {
  width: 70%;
  height: auto;

  margin: 0 auto;
  display: flex;
}

.banner__article {
  width: 70%;
  height: auto;
  margin-right: 84.86px;
}

.banner__ads {
  width: 263px;
  height: auto;
}

.banner__article-title {
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 27.5px;
}

.banner__article-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15.43pxpx;
  line-height: 167%;
  color: #3f3f3f;

  margin-bottom: 30px;
  white-space: pre-line;
}

.banner__ads-1 {
  width: 100%;
  height: 528.86px;
  background-image: url(../../images/blog/image3.jpg);
  background-size: 100% auto;
  margin-bottom: 19.7px;
  transition: all 0.3s ease;
}
.banner__ads-1:hover {
  cursor: pointer;
  scale: 1.02;
}
.banner__ads-1:active {
  cursor: pointer;
  scale: 1;
}
.banner__ads-2 {
  background-image: url(../../images/blog/image4.jpg);
  margin-bottom: 0;
  background-repeat: no-repeat;
}

.banner__article-img {
  width: 100%;
  height: 522.86px;
  background-image: url(../../images/blog/image2.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.banner-mobile {
  display:none;
}
@media screen and (max-width: 1024px) {
  .blog__banner-text {
    width: 82%;
    font-size: 1.9em;
  }
  .banner__content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }
  .banner__article {
    width: 65%;
    height: auto;
    margin-right: 30px;
  }
  .banner__ads-1 {
    height: 505px;
  }
  .banner__article-img {
    width: 100%;
    height: 452.86px;
    background-size: 100% auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .blog__banner-text {
    width: 82%;
    font-size: 1.9em;
  }
  .banner__content {
    width: 92%;
    height: auto;

    margin: 0 auto;
    display: flex;
  }
  .banner__article {
    width: 70%;
    height: auto;
    margin-right: 30px;
  }
  .banner__ads-1 {
    height: 458.86px;
  }
  .banner__article-img {
    width: 100%;
    height: 322.86px;
    background-size: 100% auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .blog__banner-text {
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 1.9em;
  }
  .banner__ads {
    display: none;
  }
  .banner__article {
    width: 100%;
    margin: 0;
  }
  .banner__content{
    width: 85%;
  }
  .banner__article-img{
    margin-bottom: 15px;
  }
  .banner-mobile {
    display: inline-block;
    background-size:  auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 320px) {
 .banner__article-img {
  height: 225px;
 }
}